.heading-h1 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 128%;
	text-align: center;
	letter-spacing: 0.04em;
}
.heading-h2 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.04em;
}
