@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

body::-webkit-scrollbar {
	width: 0 !important;
}

body {
	font-family: 'Poppins', sans-serif;
	background: #000000;
}

button,
input,
a,
ul,
li,
ol,
textarea {
	border: none;
	color: inherit;
	background-color: transparent;
	list-style-type: none;
	text-decoration: none;
	outline: none;
	font-family: inherit;
}

button {
	display: inline-block;
	cursor: pointer;
}

img {
	display: block;
	height: auto;
}
