.game-selector {
	background: var(--color-primary);
	padding: 24px;
	border-radius: 14px;
	max-width: 360px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 24px;
	grid-auto-rows: auto;
}
.game-option {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 100%;
	color: var(--color-secondary);

	&__heading {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 1;
		color: #ffffff;
		margin: 0 0 12px 0;
	}
}
