.player-search-timer {
	position: relative;
	border-radius: 18px;
	background: var(--color-primary);
	color: var(--color-secondary);
	padding: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	&__timer {
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	&__search {
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	&__cancel {
		position: absolute;
		right: 34px;
		top: 50%;
		transform: translateY(-50%);
	}
}
