.user-profile {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	&__avatar {
		margin: 0 24px 0 0;
		@include mobile {
			margin: 0 15px 0 0;
		}
	}

	&__info {
		&--with-gap {
			display: grid;
			justify-items: start;
			grid-gap: 5px;
		}

		&--with-skeleton-gap {
			display: grid;
			justify-items: start;
			grid-gap: 10px;
		}
	}

	&__nickname {
		color: var(--color-secondary);
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		line-height: 1.5;
		&--small {
			font-size: 16px;
		}
		&--large {
			font-size: 24px;
		}
	}

	&__status {
	}
	&__info {
	}
}
