.friend-item {
    width: 100%;
    
    &--primary {
        background: var(--color-primary);
    }

    &--secondary {
        background: var(--color-light-gray);
    }
	border-radius: 10px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--color-secondary);
	line-height: 1.5;
}
