.form-input {
	border: 2px solid var(--color-light-gray);
	border-radius: 10px;
	padding: 13px 15px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--color-secondary);
	transition: border-color 0.3s;

	&:hover,
	&:focus-within {
		border-color: #fff;
	}

	&--error {
		border-color: var(--color-red);
	}

	&::placeholder {
		color: var(--color-light-gray);
	}
}
