.button {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: var(--color-secondary);
	transition: color 0.3s, background 0.3s, border-color 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	&.full-width {
		width: 100%;
	}
	&.default {
		border: 2px solid transparent;
		border-radius: 4px;
		@include desktopHover {
			&:hover {
				border: 2px solid var(--color-secondary);
				background: var(--color-secondary);
				color: var(--color-primary);
			}
		}
		&:active {
			border: 2px solid var(--color-secondary);
			background: var(--color-secondary);
			color: var(--color-primary);
		}
	}
	&.primary {
		background: transparent;
		border: 2px solid var(--color-secondary);
		border-radius: 10px;
		@include desktopHover {
			&:hover:not(:disabled) {
				background: var(--color-secondary);
				border: 2px solid var(--color-primary);
				color: var(--color-primary);
			}
		}

		&:active:not(:disabled) {
			background: var(--color-secondary);
			border: 2px solid var(--color-primary);
			color: var(--color-primary);
		}
	}
	&.default {
		padding: 2px;
	}

	&.medium {
		padding: 13px 13px;
	}
	&.tiny {
		padding: 7px 20px;
	}
	&.warning {
		background: var(--color-red);
		color: var(--color-white);
		border: 2px solid var(--color-red);
		border-radius: 10px;
		@include desktopHover {
			&:hover:not(:disabled) {
				background: var(--color-primary);
				border: 2px solid var(--color-red);
				color: var(--color-red);
			}
		}
		&:active:not(:disabled) {
			background: var(--color-primary);
			border: 2px solid var(--color-red);
			color: var(--color-red);
		}
	}
	&.secondary {
		background: var(--color-secondary);
		border: 2px solid var(--color-secondary);
		color: var(--color-primary);
		border-radius: 10px;
		@include desktopHover {
			&:hover:not(:disabled) {
				background: var(--color-primary);
				border: 2px solid var(--color-secondary);
				color: var(--color-secondary);
			}
		}

		&:active:not(:disabled) {
			background: var(--color-primary);
			border: 2px solid var(--color-secondary);
			color: var(--color-secondary);
		}
	}
	&.with-gap {
		display: grid;
		grid-template-columns: repeat(2, fit-content(100%));
		justify-content: center;
		grid-gap: 16px;
	}
}

.custom-button {
	&--size {
		&-tiny {
			padding: 2px;
		}
		&-medium {
			padding: 7px 20px;
		}
		&-large {
			padding: 13px;
		}
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	&--variant {
		&-primary {
			background: transparent;
			border: 2px solid var(--color-secondary);
			border-radius: 10px;
			@include desktopHover {
				&:hover:not(:disabled) {
					background: var(--color-secondary);
					border: 2px solid var(--color-primary);
					color: var(--color-primary);
				}
			}

			&:active:not(:disabled) {
				background: var(--color-secondary);
				border: 2px solid var(--color-primary);
				color: var(--color-primary);
			}
		}
		&-secondary {
			background: var(--color-secondary);
			border: 2px solid var(--color-secondary);
			color: var(--color-primary);
			border-radius: 10px;
			@include desktopHover {
				&:hover:not(:disabled) {
					background: var(--color-primary);
					border: 2px solid var(--color-secondary);
					color: var(--color-secondary);
				}
			}

			&:active:not(:disabled) {
				background: var(--color-primary);
				border: 2px solid var(--color-secondary);
				color: var(--color-secondary);
			}
		}

		&-warning {
			background: var(--color-red);
			color: var(--color-white);
			border: 2px solid var(--color-red);
			border-radius: 10px;
			@include desktopHover {
				&:hover:not(:disabled) {
					background: var(--color-primary);
					border: 2px solid var(--color-red);
					color: var(--color-red);
				}
			}
			&:active:not(:disabled) {
				background: var(--color-primary);
				border: 2px solid var(--color-red);
				color: var(--color-red);
			}
		}

		&-default {
			border: 2px solid transparent;
			border-radius: 4px;
			color: var(--color-secondary);
			@include desktopHover {
				&:hover:not(:disabled) {
					border: 2px solid var(--color-secondary);
					background: var(--color-secondary);
					color: var(--color-primary);
				}
			}
			&:active:not(:disabled) {
				border: 2px solid var(--color-secondary);
				background: var(--color-secondary);
				color: var(--color-primary);
			}
		}
	}

	&--with-gap {
		gap: 15px;
		flex-direction: row;
	}
}
