.button {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: var(--color-secondary);
	transition: color 0.3s, background 0.3s, border-color 0.3s;
	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	&.full-width {
		width: 100%;
	}
	&.default {
		padding: 0;
	}
	&.primary {
		background: transparent;
		border: 2px solid var(--color-secondary);
		border-radius: 14px;
		&:hover:not(:disabled) {
			background: var(--color-secondary);
			border: 2px solid var(--color-primary);
			color: var(--color-primary);
		}
		&:hover:not(:disabled) svg {
			fill: var(--color-primary);
		}
	}
	&.medium {
		padding: 13px 13px;
	}
	&.tiny {
		padding: 7px 36px;
	}
	&.warning {
		background: var(--color-red);
		color: var(--color-white);
		border: 2px solid var(--color-red);
		border-radius: 14px;
	}
	&.secondary {
		background: var(--color-secondary);
		border: 2px solid var(--color-secondary);
		color: var(--color-primary);
		border-radius: 14px;
		&:hover:not(:disabled) {
			background: var(--color-primary);
			border: 2px solid var(--color-primary);
			color: var(--color-secondary);
		}
		&:hover:not(:disabled) svg {
			fill: var(--color-primary);
		}
	}
	&.with-gap {
		display: grid;
		grid-template-columns: repeat(2, fit-content(100%));
		justify-content: center;
		grid-gap: 16px;
	}
}
