.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 24px 44px;
	display: flex;
	z-index: 900;
	justify-content: space-between;
	align-items: center;
	background: var(--color-primary);
	border-bottom: 1px solid var(--color-gray);

	@include tablet {
		padding: 10px 15px;
	}
	&__btns-group {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
	}

	&__settings-btn {
		display: none;
		@include tablet {
			display: block;
		}
	}

	&__side-panel {
		display: flex;
	}
	&__logo {
		margin: 0 64px 0 0;
	}
}
