.home {
	background: var(--color-background);
	backdrop-filter: blur(25px);
	padding: 25px 0;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0 15px;
		grid-gap: 24px;
		margin: 0 auto;
		height: 100%;
		max-width: 360px;
	}
}
