.game-info {
	&__plate {
		display: flex;
		justify-content: space-between;
	}

	&__status {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 32px;
		line-height: 48px;
		text-align: center;
		&--secondary {
			color: var(--color-secondary);
		}
		&--red {
			color: var(--color-red);
		}
	}

	&__symbol-icon {
		& svg {
			fill: var(--color-disabled);
		}
		&--active svg {
			fill: var(--color-secondary);
		}
	}

	&__player {
		display: flex;
		align-items: center;
	}

	&__player-nickname {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 36px;
		color: var(--color-light-gray);
		&--active {
			color: var(--color-secondary);
		}

		&--left {
			padding: 0 0 0 10px;
		}

		&--right {
			padding: 0 10px 0 0;
		}
	}

	&__score {
		display: flex;

		align-items: center;
	}

	&__score-number {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 40px;
		line-height: 1.5;
		text-align: center;
		color: var(--color-secondary);
	}
}
