.game-info {
	position: relative;
	height: 60px;
	overflow-y: hidden;

	@include mobile {
		height: 40px;
	}
	&__plate {
		display: flex;
		justify-content: space-between;
		height: 60px;
		position: relative;
		@include mobile {
			height: 40px;
		}
	}

	&__wrap {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		transition: transform 0.3s;
		&--slide-up {
			transform: translateY(50%);
		}
	}

	&__status {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 32px;
		line-height: 1.8;
		text-align: center;
		@include mobile {
			font-size: 20px;
		}
		&--secondary {
			color: var(--color-secondary);
		}
		&--red {
			color: var(--color-red);
		}
	}

	&__symbol-icon {
		& svg {
			fill: var(--color-disabled);
			@include mobile {
				width: 18px;
			}
		}
		&--active svg {
			fill: var(--color-secondary);
		}
	}

	&__player {
		display: flex;
		align-items: center;
		width: 150px;
		&--right {
			justify-content: flex-end;
		}
	}

	&__player-nickname {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 1.5;
		color: var(--color-light-gray);
		@include mobile {
			font-size: 20px;
		}
		&--active {
			color: var(--color-secondary);
		}

		&--left {
			margin: 0 0 0 10px;
			@include mobile {
				margin: 0 0 0 6px;
			}
		}

		&--right {
			margin: 0 10px 0 0;
			@include mobile {
				margin: 0 6px 0 0px;
			}
		}
	}

	&__score {
		display: flex;

		align-items: center;
	}

	&__score-number {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 40px;
		line-height: 1.5;
		text-align: center;
		color: var(--color-secondary);
		@include mobile {
			font-size: 28px;
		}
	}
}
