.form-input {
	position: relative;

	&__input {
		position: relative;
		z-index: 9;
		border: 2px solid var(--color-light-gray);
		width: 100%;
		border-radius: 10px;
		padding: 13px 15px;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.04em;
		color: var(--color-secondary);
		transition: border-color 0.3s;

		&:hover,
		&:focus-within {
			border-color: var(--color-secondary);
		}
		&::placeholder {
			color: var(--color-light-gray);
		}

		&--error {
			border-color: var(--color-red);
			color: var(--color-red);

			&::placeholder {
				color: var(--color-red);
			}
		}
	}

	&__error {
		position: absolute;
		top: calc(100% + 2px);
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 1.3;
		color: var(--color-red);
	}
}
