.container {
	margin: 0 auto;

	width: 100%;
	&--extra-large {
		max-width: 1700px;
	}
	&--large {
		max-width: 900px;
	}
	&--medium {
		max-width: 575px;
	}
	&--small {
		max-width: 430px;
	}
	&--extra-small {
		max-width: 390px;
	}
	&--with-padding {
		padding: 0 15px;
	}
}
