.wrap {
	position: relative;
	width: 100%;
	min-height: 100vh;
	min-height: 100dvh;
	z-index: 1;
	display: flex;
	&__container {
		display: grid;
		width: 100%;
		padding: 105px 0 0 0;
		position: relative;
		z-index: 100;
	}
}
