.user-panel {
	display: grid;
	grid-template-columns: fit-content(100%) 64px;
	grid-gap: 14px;
	grid-template-rows: 1fr;
	@include tablet {
		display: none;
	}
	&__info {
		display: flex;
		flex-direction: column;
		align-items: end;
		justify-content: center;
	}

	&__nickname {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 100%;
		color: var(--color-secondary);
		margin: 0 0 6px 0;
	}

	&__wins {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__wins-number {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 100%;
		color: var(--color-red);
		text-transform: uppercase;
	}

	&__avatar-box {
	}

	&__avatar {
		width: 64px;
	}
	&__wins-icon {
		margin: 0 5px 0 0;
	}
	&__wins-icon > svg {
		fill: var(--color-red);
	}
}
